.App {
  background-color: #f5f5f5;
  background-image: url(gray_hexgrid_2x.png);
  background-size: 129px 149px;
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
}

.App-Contents {
  padding: 20px;
}
