.App {
  display: inline-block;
  height: 100vh;
  left: 0;
  width: 100vw;
  top: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.fade-enter {
  opacity: 0.1;
}

.fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.1;
  transition: all 300ms ease-out;
}