.Transfer {
    background-color: #f5f5f5;
    background-image: url(gray_hexgrid_2x.png);
    background-size: 129px 149px;
    background-repeat: repeat;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}