.NectarField {
    display: flex;
    flex-direction: column;
}

.NectarField-Label {
    color: #a5a5a5;
    line-height: 36px;
    position: relative;
    user-select: none;
    top: 42px;
}

.NectarField-Input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: white 2px solid;
    color: white;
    box-sizing: border-box;
    font-size: 24px;
    height: 48px;
    line-height: 48px;
}

.NectarField-Input:focus {
    border-bottom: rgb(46, 255, 109) 2px solid;
    outline-color: rgba(0,0,0,0);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.error {
    border-bottom: red 2px solid;
}

.error:focus {
    border-bottom: red 2px solid;
    outline-color: rgba(0,0,0,0);
}

.label-enter {
    color: #a5a5a5;
    font-size: 36px;
    font-weight: normal;
    transform: translateY(0px);
}
.label-enter-active {
    color: rgb(46, 255, 109);
    font-size: 24px;
    font-weight: 300;
    transform: translateY(-36px);
    transition: all 300ms ease-out;
}

.label-enter-done {
    color: rgb(46, 255, 109);
    font-size: 24px;
    font-weight: 300;
    transform: translateY(-36px);
}

.label-exit {
    color: rgb(46, 255, 109);
    font-size: 24px;
    font-weight: 300;
    transform: translateY(-36px);
}
.label-exit-active {
    color: #a5a5a5;
    font-size: 36px;
    font-weight: normal;
    transform: translateY(0px);
    transition: all 300ms ease-out;
}

.label-exit-done {
    color: #a5a5a5;
    font-size: 36px;
    font-weight: normal;
    transform: translateY(0px);
}