.AnimatedInput {
  display: flex;
  flex-direction: column;
}

.AnimatedInput-Label {
  color: #dedede;
  line-height: 36px;
  position: relative;
  user-select: none;
  top: 42px;
}

.AnimatedInput-Input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: white 2px solid;
  color: white;
  box-sizing: border-box;
  font-size: 24px;
  height: 48px;
  line-height: 48px;
}

.AnimatedInput-Input:focus {
  border-bottom: rgb(46, 255, 109) 2px solid;
  outline-color: rgba(0,0,0,0);
}

.AnimatedInput-ErrorLabel {
  font-size: 10px;
  color: #ff1a00;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

.AnimatedInput-Error {
  border-bottom: #ff1a00 2px solid;
}

.AnimatedInput-Error:focus {
  border-bottom: #ff1a00 2px solid;
  outline-color: rgba(0,0,0,0);
}

.label-enter {
  color: #dedede;
  font-size: 36px;
  font-weight: normal;
  transform: translateX(0px);
}
.label-enter-active {
  color: rgb(46, 255, 109);
  font-size: 24px;
  font-weight: 300;
  transform: translateX(65%);
  transition: all 300ms ease-out;
}

.label-enter-done {
  color: rgb(46, 255, 109);
  font-size: 24px;
  font-weight: 300;
  transform: translateX(65%);
}

.label-exit {
  color: rgb(46, 255, 109);
  font-size: 24px;
  font-weight: 300;
  transform: translateX(65%);
}
.label-exit-active {
  color: #dedede;
  font-size: 36px;
  font-weight: normal;
  transform: translateX(0px);
  transition: all 300ms ease-out;
}

.label-exit-done {
  color: #dedede;
  font-size: 36px;
  font-weight: normal;
  transform: translateY(0px);
}