.BountyCreate {
  color: #8500ff;
  display: grid;
  grid-template-rows: 86px 1fr;
  height: 100%;
  width: 100%;
}

.BountyCreate > .Header {
  grid-row: 1;
}

.BountyCreate-Content {
  display: block;
  grid-row: 2;
  overflow-y: auto;
  width: 100%;
}

.BountyCreate-Centered {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .BountyCreate-Centered {
      width: 70%;
  }
}

.Bounty-Values {
  box-sizing: border-box;
  display: block;
  padding: 20px;
}

.Bounty-Values > .AnimatedInput {
  width: 100%;
}

.Bounty-Create-Upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Bounty-Files {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

.BountyCreate-Header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.BountyCreate-Header-Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}