.BountyList {
    display: grid;
    grid-template-rows: 86px 1fr;
    height: 100%;
    width: 100%;
}

.BountyList > .Header {
    grid-row: 1;
}

.BountyList-Content {
    grid-row: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    padding: 20px;
    overflow-y: scroll;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .BountyList-Content {
        padding: 20px 15%;
    }
}

.BountyList-Placeholder {
    color: #a5a5a5;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}