.Bounty-Info {
  height: 100%;
  position: relative;
  width: 100%;
}

.Bounty-Info-Container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 3fr 7fr;
  height: 100%;
}

.Bounty-Info-Assertions {
  grid-column: 2;
}
