.Bounty-Create {
  color: #8500ff;
  display: block;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.BountyCreate-Content {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.Bounty-Values {
  display: block;
}

.Bounty-Values > .AnimatedInput {
  margin: 0 auto;
}

.Bounty-Create-Upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Bounty-Files {
  box-sizing: border-box;
  margin: 20px;
  width: 100%;
}

.BountyCreate-Header {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
}

.BountyCreate-Header-Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}