.BountyList {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    padding: 10px;
    overflow-y: scroll;
    width: 100%;
}

.BountyList-Placeholder {
    color: #a5a5a5;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}