.Bounty-Info {
  display: grid;
  grid-template-rows: 86px 1fr;
  height: 100%;
  position: relative;
  width: 100%;
}

.Bounty-Info > .Header {
  grid-row: 1;
}

.Bounty-Info-Container {
  display: block;
  grid-row: 2;
  box-sizing: border-box;
  height: auto;
  overflow-y: scroll;
}

@media only screen and (min-width: 800px) {
  .Bounty-Info-Container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
  }

  .Bounty-Info-Assertions {
    height: auto;
    overflow-y: scroll;
  }
}