.File-List-Header {
  border-bottom: 2px solid #dfdfdf;
  color: #8500ff;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  line-height: 20px;
}

.File-List {
  background-color: #f5f5f5;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.File-List-Title {
  padding-left: 15px;
}

.List {
  color: #000;
}

.File-List-Header > button {
  margin: auto 0;
}