.Header {
  align-items: center;
  background-color: #8500ff;
  background-image: url('../img/hexgrid_2x.png');
  background-size: 74px 85px;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
  color: white;
  padding: 0 20px 0 8px;
  white-space: nowrap;
}

.Header-Title {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Header-Title > h3 {
  margin: auto 0;
}

.Header-Actions {
  display: flex;
  flex-direction: row;
}

.Header-Actions > button {
  margin: auto 0;
}

.Header-Logo {
  box-sizing: border-box;
  display: inline-block;
  height: inherit;
  margin: auto 0;
  padding: 0 10px;
  height: 24px;
}

.Header-Row {
  display: flex;
  flex-direction: row;
  height: 43px;
  justify-content: space-between;
}

.Header-Address {
  background-color: #e2caff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 43px;
  justify-content: center;
  margin: 0 -20px;
}

.Header-Address > p {
  color: #555555;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  margin: auto 5px;
}

.Header-Divided {
  border-right: 2px #555555 solid;
  padding-right: 10px;
}
