.Header {
  align-items: center;
  background-color: #8500ff;
  background-image: url('../img/hexgrid_2x.png');
  background-size: 74px 85px;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 8px;
  white-space: nowrap;
}

.Header-Title {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Header-Actions {
  display: flex;
  flex-direction: row;
}

.Header-Logo {
  box-sizing: border-box;
  display: inline-block;
  height: inherit;
  margin: auto 0;
  padding: 0 10px;
  height: 45%;
}
