.OfferSummary {
  border-right: #e5e5e5 2px solid;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 20px;
  width: 100%;
}

.OfferActions {
  border-bottom: 1px #e5e5e5 solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
  margin: 5px 0;
}