.OfferRequest {
  display: grid;
  grid-template-rows: 86px 1fr;
  height: 100%;
  width: 100%
}

.OfferRequest > .Header {
  grid-row: 1;
}

.OfferRequest-Content {
  grid-row: 2;
  overflow-y: auto;
  height: auto;
  width: 100%
}

.OfferRequest-Files {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .OfferRequest-Files {
      width: 70%;
  }
}

.OfferRequest-Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}