@keyframes Nectar-Token-Spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.RequestSpinner {
  height: 100%;
}

.RequestSpinner-Icon {
  animation: Nectar-Token-Spin infinite 2s linear;
  height: 36px;
  margin: 3px 10px;
}