@keyframes Nectar-Token-Spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.RequestSpinner {
  height: 100%;
  padding-top: 10px;
}

.RequestSpinner-Icon {
  animation: Nectar-Token-Spin infinite 2s linear;
  max-height: 36px;
  margin: auto 10px;
}