.StatRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.StatTitle {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin: 4px 0;
  width: 140px;
}

.StatContent {
  margin: 4px 0;
}