.Landing {
    background-color: #8500ff;
    display: inline-block;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100vw;
}

.Landing-Content {
    color: white;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: flex-end;
    margin: 0 auto;
    width: 40%;
}

.Landing-Content > h2 {
    text-align: center;
}

.Landing-Chain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.Landing-Nectar {
    display: flex;
    flex-direction: row;
}

.Landing-Nectar > .NectarField {
    flex-grow: 1
}

.Landing-Nectar > .Button {
    margin-top: auto;
    margin-left: 8px;
    height: 48px;
}