.Landing {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    top: 0;
    widows: 100%;
}

.Landing-Content {
    color: white;
    font-size: 2em;
    margin: 0 auto;
    width: 80%;
    z-index: 2;
}

.Landing-Background {
    background-color: #8500ff;
    display: block;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.Landing-Address {
    display: flex;
    flex-direction: row;
}

.Landing-Address > .AddressField {
    flex-grow: 8
}

.Landing-Address > .Button {
    margin-top: auto;
    height: 48px;
}

.fade-enter {
    opacity: 0.1;
}

.fade-enter-active {
    opacity: 1;
    transition: all 300ms ease-out;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0.1;
    transition: all 300ms ease-out;
}

.translate-enter {
    transform: translateY(-32vh);
}

.translate-enter-active {
    transform: translateY(0);
    transition: all 500ms ease-out;
}

.translate-exit {
    transform: translateY(0);
}

.translate-exit-active {
    transform: translateY(-32vh);
    transition: all 500ms ease-out;
}